div, button, canvas {
	margin: 1rem;
}

button {
	width: 100%;
	/*max-width: 10rem;*/
	margin: 0 auto;
	height: 4em;
	font: 2em arial;
}

button.stop {
	background: rgba(220, 50, 50, 240);
}

button.start {
	background: rgba(50, 220, 50, 240);
}

button[disabled=true] {
	background: rgba(50, 50, 220, 240);
}

.wheel-container {
	position: relative;
}

.wheel-container canvas {
	filter: "blur(3px)";
}


.stopper {
	position: absolute;
    top: 365;
    left: 780;
}

.stopper polygon {
	fill:lime;
	stroke:green;
	stroke-width:5;
}